$ERROR_COLOR : #ea352d;
.field_with_errors {
  input, select {
    border-color: $ERROR_COLOR;
  }
}

#error_explanation,
.alert-danger {
  color: $ERROR_COLOR;
}

#logo {
  height: 50px;
}

#logo-text {
  text-decoration: none;
  color: #222;
  display: inline;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}
