$ERROR_COLOR : #ea352d;
.field_with_errors {
  input, select {
    border-color: $ERROR_COLOR;
  }
}

#error_explanation,
.alert-danger {
  color: $ERROR_COLOR;
}

#logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
}

